# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 8b4875846846a89caf5123d4b6c4c127f31faa3b4d18a5f34d7383c1c5246335732f98cf9b58a0233b63780a47db62b3ca11b321d1c0fdde8634101bde7634ea

test:
  secret_key_base: 592b91163dba6bed27293d20005d723a75cd1e3f2d619f9b5ce0da94032c811a2877bdee8b68c7bc0ed0bccdb754e0f43fa8f1d06e47fa01147c2f9437430307

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
